@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lightHover: '#fcf4ff';
  --color-darkHover: '#2a004a';
  --color-darkTheme: '#11001F';
  --font-outfit: var(--font-outfit);
  --font-ovo: var(--font-ovo);
}

* {
  font-family: Ovo;
}

.font-Ovo {
  font-family: var(--font-ovo) !important;
}

.font-Outfit {
  font-family: Outfit;
}
/*
   //--font-outfit: var(--font-outfit), 'sans-serif';
  //--font-ovo: var(--font-ovo), 'serif';
*/
